body { background-color: #333333;
        color: #eaeaea;
}

#gallery { position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

#gallery figure { ;position: static;  
  text-align: center;
  opacity: 1;         
  margin-bottom: 20px;
}

#gallery ul { list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#gallery li { display: inline;
              float: left;
              padding: 10px;
}

#gallery img { border: none;
}

#gallery a { text-decoration: none;
             color: #eaeaea;
             font-style: italic;
}

#gallery span { position: absolute;
  left: -9999px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#gallery a:hover span { position: absolute; 
			top: 16px;  
                        left: 320px;
                        text-align: center;
                        opacity: 1; 
}

footer, table {
  margin-top: 40px;
}

