body { background-color: #333333;
        color: #eaeaea;
}

#gallery { position: relative;
}

#gallery figure { position: static; 
                  margin-left: 280px;
                  text-align: center;
                  opacity: 0.25;
}

#gallery ul { list-style: none;
              width: 300px;
}

#gallery li { display: inline;
              float: left;
              padding: 10px;
}

#gallery img { border: none;
}

#gallery a { text-decoration: none;
             color: #eaeaea;
             font-style: italic;
}

#gallery span { position: absolute; 
		left: -1000px;                                                                                                                        
                opacity: 0;
                transition: opacity 3s ease-in-out;
}

#gallery a:hover span { position: absolute; 
			top: 16px;  
                        left: 320px;
                        text-align: center;
                        opacity: 1; 
}

.table-heading {
  text-align: center;
  font-size: 1.8em;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #eaeaea;
}
